*{
    margin: 0;
    padding: 0;
    font-family: JetBrainsMono-Regular;
    text-decoration: none;
    list-style: none;
}

@font-face{
    font-family: JetBrainsMono-Regular;
    src: url(../fonts/JetBrainsMono-Regular.ttf);
}

body{
    background: #1c1b20;
}

.container{
    margin: 0 auto;
    width: 80%;
}

.header-container{
    background: #1c1b20;
}

.head{
    display: flex;
}

.logo{
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: center;
}

.logo .brand{
    color: aliceblue;
    font-family: JetBrainsMono-Regular;
    font-size: 30px;
}

.logo .brand-dot{
    color: #09f69f;
    font-size: 30px;
}

.menu-container{
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
}

.menu-container .menu{
    display: flex;
}

.menu-container .menu li{
    padding: 40px 20px;
}

.menu-container .menu li a{
    color: aliceblue;
}

.menu-container .menu li .hire-btd{
    background-color: #04ff9d;
    padding: 10px 20px;
    border-radius: 25px 25px;
    color: black;
}

.menu-container .menu li .hire-btd:hover{
    color: black;
    text-decoration: none;
    outline: #ffff solid 2px;
}

.menu-container .menu li a:hover{
    color: #90e2c4;
    text-decoration: underline;
    text-underline-offset: 0.7em;
}

/* Header Done */

.body-container{
    background-color: #1c1b20;
}

.body{
    display: flex;
    padding-top: 7%;
}

.body .body-content{
    display: flex;
    justify-content: start;
    flex: 1;
}

.body .body-content {
    flex: 1;
}

.body .body-content .body-text h3{
    color: aliceblue;
}

.body .body-content .body-text .hello{
    color: aliceblue;
    font-size: 4.5rem;
}

.body .body-content .body-text .name{
    color: #07faa5;
    font-size: 4.5rem;
}

.body .body-content .body-text p{
    color: aliceblue;
    padding-top: 1%;
    line-height: 30px;
}

.body-container .body-text .button-container{
    padding-top: 5%;
    display: flex;
    align-items: center;
    column-gap: 3%;
}

.body-container .body-text .button-container .download{
    padding: 10px 25px;
    border-radius: 20px 20px;
    border: 2px solid #4ea38a;
    color: #4ea38a;
    text-align: center;
}

.body-container .body-text .button-container .git{
    border: 2px solid #4ea38a;
    border-radius: 90%;
    padding: 10px 10px 5px 10px;
    color: #4ea38a;
}

.profile-img{
    flex: 1;
    display: flex;
    justify-content: center;
}

.profile-img .img{
    height: 450px;
    width: 450px;
    display: flex;
    border-radius: 50%;
    border: 5px dashed #23f1ae;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.profile-img img{
    height: 100%;
    width: 100%;
}

/* Boddy Done */

.footer-container{
    background-color: #1c1b20;
    padding: 6% 0 1% 0;
}

.footer .footer-contant{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-contant div{
    display: flex;
    align-items: center;
    column-gap: 5%;
}

.footer .footer-contant div h1{
    font-size: 4rem;
    color: aliceblue;
}

.footer .footer-contant div p{
    color: aliceblue;
}

/* Footer Done */